* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#imagesequence {
  height: 100vh;
}

#imagesequence img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#imagesequence h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
}
#imagesequence h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

section {
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-size: 80px;
}
