* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#loader {
  height: 100vh;
  width: 100vw;
  background-color: #202326;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#loader p {
  color: white;
  padding-top: 10px;
}

#imagesequence {
  height: 100vh;
}

#imagesequence img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#imagesequence h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
}
#imagesequence h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

section {
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-size: 80px;
}

@media only screen and (max-width: 600px) {
  section h1 {
    font-size: 40px;
  }
}
